<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>Edit User {{user.id}}</title>
</head>

<body class="container">
  <div class="d-flex justify-content-between mt-3">
    <h1>Add a New User</h1>
    <a href="/users" class="align-self-center">Home</a>
  </div>
  <!-- FORM FOR EDITING A USER'S INFO PREPOPULATED WITH EXISTING USER INFO -->
  <form action="/update_user" method="post">
    <input type="hidden" name="id" id="id" value="{{user.id}}">
    <label for="first_name" class="form-label my-2">First Name:</label>
    <input type="text" name='first_name' id="first_name" class="form-control" value='{{user.first_name}}'>
    <label for="last_name" class="form-label my-2">Last Name:</label>
    <input type="text" name='last_name' id="last_name" class="form-control" value='{{user.last_name}}'>
    <label for="email" class="form-label my-2">Email:</label>
    <input type="text" name='email' id="email" class="form-control" value="{{user.email}}">
    <div class="d-flex">
      <button class="btn btn-outline-primary my-3" type="submit">Update</button>
      <a href="/users/{{user.id}}" class="align-self-center mx-4">Show User</a>
    </div>
  </form>
</body>

</html>